#title {
    text-align: center;
    color: #0000ff;
}

#gameContainer {
    width: 90%;
    height: 500px;
    margin: 0 auto;
    background-color: gray;
    border: 2px solid black;
    position: relative;
}

.menuButtons {
    width: 200px;
    height: 60px;
    margin: 0 auto;
    border-radius: 25px;
    border: 2px solid #000000;
    text-align: center;
    font-size: 40px;
    line-height: 60px;
}
#play {
    background-color: #00ff00;
    margin-top: 130px;
}
#settings {
    font-size: 35px;
    background-color: #123456;
}
#highscores {
    font-size: 30px;
    background-color: #a0000f;
}
#help {
    background-color: #ff00ff;
}

#back {
    width: 100px;
    height: 30px;
    background-color: yellow;
    border: 1px solid #000000;
    text-align: center;
    font-size: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    line-height: 30px;
}