#title {
    text-align: center;
    color: #0000ff;
}

#gameContainer {
    width: 90%;
    height: 510px;
    margin: 0 auto;
    background-color: gray;
    border: 2px solid black;
    position: relative;
}
.outer {
    width: 120px;
    height: 120px;
    background-color: #000000;
	border: 1px solid black;
}
.clickable {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
	border: 1px solid black;
    cursor: pointer;
}
table { margin: 0 auto; }

#hTable { margin-top: 100px; }

.hRank, .hName, .hScore {
    height: 40px;
    border: 1px solid black;
    background-color: #ffffff;
    text-align: center;
	font-size: 20px;
}
.hRank { width: 40px; }
.hName { width: 200px; }
.hScore { width: 100px; }

#p1, #p2, #score {
    width: 20%;
    height: 60px;
	display: inline-block;
    left: 0;
    top: 0;
    text-align: center;
    font-size: 40px;
    line-height: 60px;
	z-index: -10;
}
#score {
    width: 60%;
	left: auto;
	right: auto;
	font-size: 30px;
	line-height: 60px;
}
#p2 {
    right: 0;
}

.menuButtons {
    width: 240px;
    height: 60px;
    margin: 0 auto;
    border-radius: 25px;
    border: 2px solid #000000;
    text-align: center;
    font-size: 40px;
    line-height: 60px;
    cursor: pointer;
}
#play {
    background-color: #00ff00;
    margin-top: 110px;
}
#settings {
    background-color: #123456;
}
#highscores {
    background-color: #a0000f;
}
#help { background-color: #ff00ff; }

#back {
    width: 100px;
    height: 30px;
    background-color: black;
    border: 1px solid #000000;
    text-align: center;
    color: white;
    font-size: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    line-height: 30px;
    cursor: pointer;
}

#saveScore {
	position: absolute;
	width: 20%;
    height: 40px;
	font-size: 20px;
	line-height: 40px;
	background-color: #00ff00;
	margin-left: 40%;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	background-color: black;
	opacity: 0.75;
}
.sideOverlay {
	position: absolute;
	width: 20%;
	height: 100%;
	top: 0px;
	background-color: black;
	opacity: 0.25;
}

#gameOver {
	position: absolute;
    width: 60%;
    height: 120px;
    margin-left: 20%;
    text-align: center;
    font-size: 40px;
    line-height: 60px;
	background-color: white;
	opacity: 0.75;
	border: 1px solid black;
}

#helpText {
    position: absolute;
    width: 50%;
    height: 100%;
    text-align: left;
    font-size: 20px;
    left: 25%;
    top: 120px;
}

.subtitle {
    color: black;
    text-decoration: underline;
    font-weight: bold;
}

#settDiv {
    position: absolute;
    width: 50%;
    height: 100%;
    text-align: center;
    font-size: 20px;
	left: 25%;
	top: 100px;
}

input {
    cursor: pointer;
}
